

body {
    background-color: rgb(231, 238, 238);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, Geneva, Tahoma, sans-serif;
    padding: 1vh;
    margin: 1vh;
    
}

.anonymous-pro-regular {
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-style: normal;
  }

#specialrequests {
    display: block;
    
}

.form-control {
    width: 50%;
    max-width: 650px;
}

@media screen and (max-width: 700px) {
    #specialrequests {
        width: 100%;
    }
}